# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Build files
dist/
build/
out/

# Dependency directories
jspm_packages/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Miscellaneous
*.swp
*.lock
*.bak
*.tmp
*.orig
*.rej

# React Native
.expo/
.expo-shared/

# Three.js specific
*.glb
*.gltf
*.bin